* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #24252a;
}

::-webkit-scrollbar-thumb {
  background: #49515a;
}

::-webkit-scrollbar-thumb:hover {
  background: #0088a9;
}

.header {
  background-image: url(../img/dentist.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__middle {
  margin-left: 25rem;
  margin-top: 15rem;
}

.header__middle-text {
  color: dodgerblue;
  font-size: 7.5rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation: fade 3s;
          animation: fade 3s;
}

.header__middle-info {
  margin-left: 20.75rem;
  color: black;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1rem;
  -webkit-animation: fade 3s;
          animation: fade 3s;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4rem 70rem;
}

.header__navbar-items {
  color: dodgerblue;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  -webkit-animation: fade 3s;
          animation: fade 3s;
}

.header__navbar-items:hover {
  color: black;
  text-decoration: none;
}

.header__navbar-items:not(:last-child) {
  margin-right: 5rem;
}

.header__navbar-logo {
  width: 10rem;
  margin-right: auto;
  -webkit-animation: fade 3s;
          animation: fade 3s;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20rem 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.contact__info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.allcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

i {
  color: white;
  padding-bottom: 2rem;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel {
  background-color: #24252a;
}

.footer__copyright {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 3rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

#testimonials {
  text-align: center;
  color: white;
  background-color: #24252a;
}

#press {
  text-align: center;
  padding-bottom: 3%;
  background-color: #24252a;
}

.carousel {
  padding: 5% 15%;
}

.testimonial-text {
  font-size: 5rem;
}

em {
  font-size: 2rem;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: auto;
  padding: 10rem 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio__info {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-right: 15rem;
}
/*# sourceMappingURL=main.css.map */